<h3>Customer's Account Details</h3>
<form (ngSubmit)="ViewAccount()">
  
<div class="container">
    <div class="form-group">
    <input type="text" name="userName" class="form-control"
    [(ngModel)]="account.customer.userName" placeholder="Enter customer's PAN"> 
    </div>
    <br>
    <button class="btn btn-info" type="submit" (click)='ViewAccount()'  [routerLink]="['/account/'+account.customer.userName]" >View Account</button> 
    
    <table class="table">
        <thead>
            <tr>
                <th>userName</th>
                <th>Bank Name</th>
                <th>Account Number</th>
                <th>IFSC code</th>
                <th>MICR code</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let acc of accounts">
                <td>{{acc.userName}}</td>
                <td>{{acc.bankName}}</td>
                <td>{{acc.accountNumber}}</td>
                <td>{{acc.ifscCode}}</td>
                <td>{{acc.micrCode}}</td>
            </tr>
        </tbody>
    </table>
   
  </div>  
 </form>